In [1]:
import numpy as np 
import pandas as pd
from bs4 import BeautifulSoup
import requests
import sqlite3
url1 = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc"
url2 = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=51&ref_=adv_nxt"
url3 = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=101&ref_=adv_nxt"
url4 = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=151&ref_=adv_nxt"
url5 = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=201&ref_=adv_nxt"
    
urls = [url1, url2, url3, url4, url5]
titles = []
ratings = []
release_dates = []
descriptions = []
durations = []

In [2]:
for url in urls:
    response = requests.get(url)
    soup = BeautifulSoup(response.text)
    name_release_class = soup.find_all('h3', {'class': 'lister-item-header'})
    rating_class = soup.find_all('div',{'class':'ratings-bar'})
    desc_class = soup.find_all('p', {'class': 'text-muted'})
    time_class = soup.find_all('span',{'class':'runtime'})

    for name_release_objects in name_release_class:
        for name in name_release_objects.find_all('a'):
            titles.append(name.text)
        for release in name_release_objects.find_all('span',{'class':'lister-item-year text-muted unbold'}):
            release_dates.append(release.text)
    for rating_object in rating_class:
        for rating in rating_object.find_all('strong'):
            ratings.append(rating.text)
    for desc in desc_class:
        desc_text = desc.text.lstrip()
        descriptions.append(desc_text)
    for time in time_class:
        durations.append(time.text)

In [3]:

titles = np.array(titles)
ratings = np.array(ratings)
release_dates = np.array(release_dates)
descriptions = np.array(descriptions[1::2])
# time_class = np.array(time_class)

my_db = pd.DataFrame()
my_db['title']= titles
my_db['rating']= ratings
my_db['release_date']= release_dates
my_db['duration']=durations

my_db['description']=descriptions

'''
    for time_objects in time_class:
        durations.append(duration.text)
'''

'\n    for time_objects in time_class:\n        durations.append(duration.text)\n'

In [10]:
my_db

,title,rating,release_date,duration,description
0,The Shawshank Redemption,9.3,(1994),142 min,Two imprisoned men bond over a number of years...
1,The Godfather,9.2,(1972),175 min,The aging patriarch of an organized crime dyna...
2,The Dark Knight,9.0,(2008),152 min,When the menace known as the Joker wreaks havo...
3,The Godfather: Part II,9.0,(1974),202 min,The early life and career of Vito Corleone in ...
4,The Lord of the Rings: The Return of the King,8.9,(2003),201 min,Gandalf and Aragorn lead the World of Men agai...
...,...,...,...,...,...
245,"Monsters, Inc.",8.0,(2001),92 min,"In order to power the city, monsters have to s..."
246,Aladdin,8.0,(1992),90 min,A kindhearted street urchin and a power-hungry...
247,Tenkû no shiro Rapyuta,8.0,(1986),125 min,A young boy and a girl with a magic crystal mu...
248,The Terminator,8.0,(1984),107 min,A seemingly indestructible robot is sent from ...
249,Butch Cassidy and the Sundance Kid,8.0,(1969),110 min,"Wyoming, early 1900s. Butch Cassidy and The Su..."

In [16]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://',echo=False)
my_db.to_sql(name='hellob',con=engine)

In [24]:
import pickle
myfile = open("mydatabase.sqlite3",'+w')

In [23]:
pickle.dump?

In [28]:
myfile.write(str(my_db))

1704

In [33]:
import sqlite3 as db
conn = db.connect('db.sqlite3')
c = conn.cursor()
c.execute("""CREATE TABLE Movie(
    title text,
    rating text,
    release_date text,
    duration text,
    description text
)""")

In [35]:
c.execute("INSERT INTO Movie VALUES",my_db.to_sql)

OperationalError: incomplete input